### 코스피 분석 연습
* http://www.paxnet.co.kr/stock/sise/KOSPI?wlog_rpax=KOSPI
* 팍스넷의 데이터 웹크롤링을 통한 코스피 일별 거래정보 획득

In [22]:
import sqlite3
import requests
from bs4 import BeautifulSoup
dbname='paxstock.db'

In [23]:
#['20190710', '2058.78', '2061.55', '2068.20', '2056.48', 1, '6.75', '+0.33', '355677']
def maketable():
    with sqlite3.connect(dbname) as conn:
        cur=conn.cursor()
        sql="""create table kospi(
        IDX integer primary key,
        EPRICE REAL,
        SPRICE REAL,
        HPRICE REAL,
        LPRICE REAL,
        UDCODE integer,
        UDOWN  REAL,
        UDRATE  REAL,
        TRQTY integer )"""
        cur.execute(sql)
        conn.commit()
        cur.close()

In [24]:
maketable()

OperationalError: table kospi already exists

In [25]:
def insertdb(data):
    with sqlite3.connect(dbname) as conn:
        cur=conn.cursor()
        #종가	시가	고가	저가	전일비	등락률	거래량(천주)
        sql="""
        insert into kospi 
        (IDX,EPRICE,SPRICE,HPRICE,LPRICE,UDCODE,UDOWN,UDRATE,TRQTY)
        values(?,?,?,?,?,?,?,?,?)
        """
        idx=cur.execute(sql,data)
        sql_title='select last_insert_rowid()'
        resultid=cur.execute(sql_title).fetchall()
        print('lastid in:',resultid[0])
        return resultid[0][0]

In [26]:
d=['20190710', '2058.78', '2061.55', '2068.20', '2056.48', 1, '6.75', '+0.33', '355677']
insertdb(d)

IntegrityError: UNIQUE constraint failed: kospi.IDX

def checktitle(t,cur):
    sql_title='select TIDX from titles where TNAME="'+t+'"'
    resultid=cur.execute(sql_title).fetchall()
    if(resultid):
       # print('lastid:',resultid[0][0])
        return resultid[0][0]
    else:
        sql_title='insert into titles (TNAME) values("'+t+'")'
        print(sql_title)
        cur.execute(sql_title)
        sql_title='select last_insert_rowid()'
        resultid=cur.execute(sql_title).fetchall()
        print('lastid in:',resultid[0])
        return resultid[0][0]

In [27]:
def Mycrawl(soup):
    tgt=soup.select('div.table-scroll table.table-data tbody > tr ')
    #, row_factory=sqlite3.Row
    with sqlite3.connect(dbname) as conn:
        for t in tgt:
            data=[]
            idx=t.select('td > strong')[0].get_text() #print(idx)[0].get_text()
            idx=idx.replace('.','')# 날짜를 키값으로 사용하기
            #print("row:",idx,end="\n")
            #종가	시가	고가	저가	전일비	등락률	거래량(천주)
            eprice=t.select('td.a-right')[0].get_text().replace(',','')
            sprice=t.select('td.a-right')[1].get_text().replace(',','')
            hprice=t.select('td.a-right')[2].get_text().replace(',','')
            lprice=t.select('td.a-right')[3].get_text().replace(',','')
            
            udrate=t.select('td.a-right')[5].get_text().strip().replace('%','')
            trqty=t.select('td.a-right')[6].get_text().replace(',','')
            
            updown=t.select('td.a-right > span.rise')
            if(updown):
                udown=updown[0].get_text()
                udcode=1
                udown=udown.replace('상향','').strip()
            else:
                udcode=-1
                udown=t.select('td.a-right > span.fall')[0].get_text()
                udown=udown.replace('하향','').strip()
            data=[idx,eprice,sprice,hprice,lprice,udcode,udown,udrate,trqty]
            print(data,end="\n")
            
            #title=t.select('a.movie')[0].get_text()     #print(title,end="\n")

In [28]:
for i in range(1,2):
    url='http://www.paxnet.co.kr/stock/sise/siseJisuDataListAjax?searchType=kospi&currentPageNo='
    url+=str(i)
    url+='&searchSort=&searchExchange=KSE&searchTerm=&searchUpDown='
    result=requests.get(url)
    src=result.content
    #print(result.content)
    soup=BeautifulSoup(src,'html.parser')
    #print(url,end="\n")
    Mycrawl(soup)

['20190710', '2058.78', '2061.55', '2068.20', '2056.48', 1, '6.75', '+0.33', '355677']
['20190709', '2052.03', '2070.35', '2075.30', '2052.03', -1, '12.14', '-0.59', '440122']
['20190708', '2064.17', '2091.91', '2092.54', '2063.78', -1, '46.42', '-2.20', '515950']
['20190705', '2110.59', '2111.00', '2115.43', '2096.23', 1, '1.86', '+0.09', '459391']
['20190704', '2108.73', '2102.36', '2108.80', '2088.97', 1, '12.71', '+0.61', '446932']
['20190703', '2096.02', '2120.75', '2127.71', '2093.32', -1, '26.00', '-1.23', '522709']
['20190702', '2122.02', '2122.07', '2130.86', '2112.52', -1, '7.72', '-0.36', '460830']
['20190701', '2129.74', '2147.24', '2147.24', '2126.87', -1, '0.88', '-0.04', '412291']
['20190628', '2130.62', '2135.06', '2139.24', '2123.97', -1, '3.70', '-0.17', '537274']
['20190627', '2134.32', '2120.73', '2141.27', '2118.22', 1, '12.47', '+0.59', '644900']
['20190626', '2121.85', '2120.20', '2128.25', '2115.72', 1, '0.21', '+0.01', '736851']
['20190625', '2121.64', '2125.74', '2136.24', '2115.11', -1, '4.69', '-0.22', '642999']
['20190624', '2126.33', '2130.32', '2134.48', '2123.88', 1, '0.71', '+0.03', '669639']
['20190621', '2125.62', '2132.38', '2132.68', '2120.15', -1, '5.67', '-0.27', '692027']
['20190620', '2131.29', '2121.78', '2131.77', '2120.42', 1, '6.51', '+0.31', '1007158']
['20190619', '2124.78', '2119.54', '2126.74', '2117.64', 1, '26.07', '+1.24', '862980']
['20190618', '2098.71', '2089.31', '2103.02', '2089.31', 1, '7.98', '+0.38', '600964']
['20190617', '2090.73', '2091.71', '2103.59', '2087.25', -1, '4.68', '-0.22', '561550']
['20190614', '2095.41', '2096.32', '2103.02', '2087.47', -1, '7.74', '-0.37', '473370']
['20190613', '2103.15', '2104.46', '2108.01', '2081.92', -1, '5.60', '-0.27', '553393']
['20190612', '2108.75', '2111.66', '2118.89', '2104.41', -1, '3.06', '-0.14', '693507']
['20190611', '2111.81', '2096.09', '2114.57', '2094.60', 1, '12.32', '+0.59', '550740']
['20190610', '2099.49', '2087.37', '2099.65', '2075.51', 1, '27.16', '+1.31', '457640']
['20190607', '2072.33', '2070.78', '2081.16', '2057.97', 1, '3.22', '+0.16', '368392']
['20190605', '2069.11', '2084.16', '2086.49', '2065.71', 1, '2.14', '+0.10', '380156']
['20190604', '2066.97', '2066.78', '2072.19', '2060.98', -1, '0.88', '-0.04', '435991']
['20190603', '2067.85', '2031.03', '2070.58', '2029.17', 1, '26.11', '+1.28', '387145']
['20190531', '2041.74', '2029.03', '2048.90', '2022.97', 1, '2.94', '+0.14', '439181']
['20190530', '2038.80', '2024.33', '2040.66', '2023.91', 1, '15.48', '+0.77', '461850']
['20190529', '2023.32', '2046.71', '2046.71', '2016.25', -1, '25.51', '-1.25', '380893']

result=requests.get(url)
src=result.content
#print(result.content)
soup=BeautifulSoup(src,'html.parser')
#title=soup.find('title')
#print(title)

           tcode=checktitle(title,cur)
            #print(tcoder)
        cur=conn.cursor()
        sql='insert into movie (IDX,TITLE,CONTENT,POINT,TCODE) values(?,?,?,?,?)'
             
            sql_sel='select IDX from movie where IDX='+idx
            resultid=cur.execute(sql_sel).fetchall()
            #print(resultid)
            if(resultid):
                print('중복에러:'+idx,end="\n")
            else:
                idx=int(idx)
                point=t.select('td.point')[0].get_text()
                point=int(point)        #print(point,end="\n")
                #title 은 titles 테이블 관리를 위해 올라감
                content=t.select('td.title')[0].get_text()   #print(content[0],end="\n")
                c=content.replace(title,'').replace('신고','').strip()
                #print(c)
                d=[idx,title,c,point,tcode]
                #print(d,end="\n")
                cur.execute(sql,d)
        conn.commit()
        cur.close()


with sqlite3.connect(dbname) as conn:
    cur=conn.cursor()
    sql='create table movie(IDX integer primary key,TITLE varchar(100),CONTENT varchar(200), POINT integer)'
    cur.execute(sql)
    conn.commit()
    cur.close()